--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApplicationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApplicationStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."ApplicationStatus" OWNER TO postgres;

--
-- Name: BrandUserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BrandUserRole" AS ENUM (
    'OWNER',
    'MANAGER'
);


ALTER TYPE public."BrandUserRole" OWNER TO postgres;

--
-- Name: ConventionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ConventionStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'PAST',
    'CANCELLED'
);


ALTER TYPE public."ConventionStatus" OWNER TO postgres;

--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MediaType" AS ENUM (
    'IMAGE',
    'VIDEO_LINK'
);


ALTER TYPE public."MediaType" OWNER TO postgres;

--
-- Name: ProfileType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProfileType" AS ENUM (
    'USER',
    'TALENT',
    'BRAND'
);


ALTER TYPE public."ProfileType" OWNER TO postgres;

--
-- Name: RequestedRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RequestedRole" AS ENUM (
    'ORGANIZER',
    'BRAND_CREATOR'
);


ALTER TYPE public."RequestedRole" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ORGANIZER',
    'TALENT',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Brand" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "logoUrl" text,
    "websiteUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ownerId" text NOT NULL
);


ALTER TABLE public."Brand" OWNER TO postgres;

--
-- Name: BrandUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BrandUser" (
    "brandId" text NOT NULL,
    "userId" text NOT NULL,
    role public."BrandUserRole" NOT NULL
);


ALTER TABLE public."BrandUser" OWNER TO postgres;

--
-- Name: Convention; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Convention" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    city text,
    country text,
    "venueName" text,
    "websiteUrl" text,
    status public."ConventionStatus" DEFAULT 'DRAFT'::public."ConventionStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "stateAbbreviation" text,
    "stateName" text,
    "seriesId" text,
    "deletedAt" timestamp(3) without time zone,
    "coverImageUrl" text,
    "descriptionMain" text,
    "descriptionShort" text,
    "isOneDayEvent" boolean DEFAULT false NOT NULL,
    "isTBD" boolean DEFAULT false NOT NULL,
    "profileImageUrl" text,
    timezone text,
    "guestsStayAtPrimaryVenue" boolean DEFAULT false,
    "registrationUrl" text
);


ALTER TABLE public."Convention" OWNER TO postgres;

--
-- Name: ConventionDealerLink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConventionDealerLink" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    "profileType" public."ProfileType" NOT NULL,
    "linkedProfileId" text NOT NULL,
    "displayNameOverride" text,
    "descriptionOverride" text,
    "order" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ConventionDealerLink" OWNER TO postgres;

--
-- Name: ConventionMedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConventionMedia" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    type public."MediaType" NOT NULL,
    url text NOT NULL,
    caption text,
    "order" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ConventionMedia" OWNER TO postgres;

--
-- Name: ConventionScheduleItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConventionScheduleItem" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    title text NOT NULL,
    description text,
    "locationName" text,
    "venueId" text,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "eventType" text NOT NULL,
    "atPrimaryVenue" boolean NOT NULL,
    "dayOffset" integer,
    "durationMinutes" integer,
    "startTimeMinutes" integer,
    "scheduleDayId" text
);


ALTER TABLE public."ConventionScheduleItem" OWNER TO postgres;

--
-- Name: ConventionSeries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConventionSeries" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "organizerUserId" text NOT NULL,
    "logoUrl" text,
    slug text NOT NULL
);


ALTER TABLE public."ConventionSeries" OWNER TO postgres;

--
-- Name: ConventionSetting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConventionSetting" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ConventionSetting" OWNER TO postgres;

--
-- Name: Hotel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Hotel" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    "isPrimaryHotel" boolean DEFAULT false NOT NULL,
    "isAtPrimaryVenueLocation" boolean DEFAULT false NOT NULL,
    "hotelName" text NOT NULL,
    description text,
    "websiteUrl" text,
    "googleMapsUrl" text,
    "streetAddress" text,
    city text,
    "stateRegion" text,
    "postalCode" text,
    country text,
    "contactEmail" text,
    "contactPhone" text,
    "groupRateOrBookingCode" text,
    "groupPrice" text,
    "bookingLink" text,
    "bookingCutoffDate" timestamp(3) without time zone,
    amenities text[],
    "parkingInfo" text,
    "publicTransportInfo" text,
    "overallAccessibilityNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Hotel" OWNER TO postgres;

--
-- Name: HotelPhoto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."HotelPhoto" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    url text NOT NULL,
    caption text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."HotelPhoto" OWNER TO postgres;

--
-- Name: PriceDiscount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PriceDiscount" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    "cutoffDate" timestamp(3) without time zone NOT NULL,
    "priceTierId" text NOT NULL,
    "discountedAmount" numeric(65,30) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PriceDiscount" OWNER TO postgres;

--
-- Name: PriceTier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PriceTier" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    label text NOT NULL,
    amount numeric(65,30) NOT NULL,
    "order" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PriceTier" OWNER TO postgres;

--
-- Name: RoleApplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RoleApplication" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "requestedRole" public."RequestedRole" NOT NULL,
    status public."ApplicationStatus" DEFAULT 'PENDING'::public."ApplicationStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RoleApplication" OWNER TO postgres;

--
-- Name: ScheduleDay; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ScheduleDay" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    "dayOffset" integer NOT NULL,
    "isOfficial" boolean NOT NULL,
    label text
);


ALTER TABLE public."ScheduleDay" OWNER TO postgres;

--
-- Name: ScheduleEventBrandLink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ScheduleEventBrandLink" (
    id text NOT NULL,
    "scheduleItemId" text NOT NULL,
    "brandProfileId" text NOT NULL
);


ALTER TABLE public."ScheduleEventBrandLink" OWNER TO postgres;

--
-- Name: ScheduleEventFeeTier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ScheduleEventFeeTier" (
    id text NOT NULL,
    "scheduleItemId" text NOT NULL,
    label text NOT NULL,
    amount numeric(65,30) NOT NULL
);


ALTER TABLE public."ScheduleEventFeeTier" OWNER TO postgres;

--
-- Name: ScheduleEventTalentLink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ScheduleEventTalentLink" (
    id text NOT NULL,
    "scheduleItemId" text NOT NULL,
    "talentProfileId" text NOT NULL
);


ALTER TABLE public."ScheduleEventTalentLink" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    "hashedPassword" text,
    roles public."Role"[] DEFAULT ARRAY['USER'::public."Role"],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    bio text,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    timezone text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: Venue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Venue" (
    id text NOT NULL,
    "conventionId" text NOT NULL,
    "isPrimaryVenue" boolean DEFAULT false NOT NULL,
    "venueName" text NOT NULL,
    description text,
    "websiteUrl" text,
    "googleMapsUrl" text,
    "streetAddress" text,
    city text,
    "stateRegion" text,
    "postalCode" text,
    country text,
    "contactEmail" text,
    "contactPhone" text,
    amenities text[],
    "parkingInfo" text,
    "publicTransportInfo" text,
    "overallAccessibilityNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Venue" OWNER TO postgres;

--
-- Name: VenuePhoto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VenuePhoto" (
    id text NOT NULL,
    "venueId" text NOT NULL,
    url text NOT NULL,
    caption text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VenuePhoto" OWNER TO postgres;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Brand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Brand" (id, name, description, "logoUrl", "websiteUrl", "createdAt", "updatedAt", "ownerId") FROM stdin;
cmcilkptl0003eit4msawplaj	J&B Magic Shop	610 East Spring Street\nNew Albany, IN 47150\n502-592-2530\nOpen 6 days a week. Also open by appointment.	https://brickandmortarmagic.com/cdn/shop/files/jb_magic_cd348630-c934-48c8-9161-d65c03be0056.png	https://brickandmortarmagic.com/	2025-06-30 04:27:07.833	2025-06-30 04:33:10.514	cmasfvd940004eiscv49xg1tc
\.


--
-- Data for Name: BrandUser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BrandUser" ("brandId", "userId", role) FROM stdin;
cmcilkptl0003eit4msawplaj	cmasfvd940004eiscv49xg1tc	OWNER
\.


--
-- Data for Name: Convention; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ConventionDealerLink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ConventionDealerLink" (id, "conventionId", "profileType", "linkedProfileId", "displayNameOverride", "descriptionOverride", "order", "createdAt", "updatedAt") FROM stdin;
cmcqvozmy00pheix0tmfabr2l	cmash9ood003reirghnb26oht	BRAND	cmcilkptl0003eit4msawplaj	\N	\N	1	2025-07-05 23:32:32.746	2025-07-05 23:32:32.746
\.


--
-- Data for Name: ConventionMedia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ConventionScheduleItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ConventionSeries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ConventionSetting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ConventionSetting" (id, "conventionId", key, value, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Hotel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: HotelPhoto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."HotelPhoto" (id, "hotelId", url, caption, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PriceDiscount; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PriceDiscount" (id, "conventionId", "cutoffDate", "priceTierId", "discountedAmount", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PriceTier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PriceTier" (id, "conventionId", label, amount, "order", "createdAt", "updatedAt") FROM stdin;
cmcr1xlro00preix0sh6y9rl8	cmash9ood003reirghnb26oht	test	100.000000000000000000000000000000	0	2025-07-06 02:27:12.372	2025-07-06 02:27:12.372
\.


--
-- Data for Name: RoleApplication; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RoleApplication" (id, "userId", "requestedRole", status, "createdAt", "updatedAt") FROM stdin;
cmcil32d60000eit44ll1mwuf	cmasfvd940004eiscv49xg1tc	BRAND_CREATOR	PENDING	2025-06-30 04:13:24.283	2025-07-03 02:01:18.084
\.


--
-- Data for Name: ScheduleDay; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ScheduleEventBrandLink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ScheduleEventBrandLink" (id, "scheduleItemId", "brandProfileId") FROM stdin;
\.


--
-- Data for Name: ScheduleEventFeeTier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ScheduleEventFeeTier" (id, "scheduleItemId", label, amount) FROM stdin;
\.


--
-- Data for Name: ScheduleEventTalentLink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ScheduleEventTalentLink" (id, "scheduleItemId", "talentProfileId") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Venue; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VenuePhoto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VenuePhoto" (id, "venueId", url, caption, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: BrandUser BrandUser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BrandUser"
    ADD CONSTRAINT "BrandUser_pkey" PRIMARY KEY ("brandId", "userId");


--
-- Name: Brand Brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_pkey" PRIMARY KEY (id);


--
-- Name: ConventionDealerLink ConventionDealerLink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionDealerLink"
    ADD CONSTRAINT "ConventionDealerLink_pkey" PRIMARY KEY (id);


--
-- Name: ConventionMedia ConventionMedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionMedia"
    ADD CONSTRAINT "ConventionMedia_pkey" PRIMARY KEY (id);


--
-- Name: ConventionScheduleItem ConventionScheduleItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionScheduleItem"
    ADD CONSTRAINT "ConventionScheduleItem_pkey" PRIMARY KEY (id);


--
-- Name: ConventionSeries ConventionSeries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionSeries"
    ADD CONSTRAINT "ConventionSeries_pkey" PRIMARY KEY (id);


--
-- Name: ConventionSetting ConventionSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionSetting"
    ADD CONSTRAINT "ConventionSetting_pkey" PRIMARY KEY (id);


--
-- Name: Convention Convention_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Convention"
    ADD CONSTRAINT "Convention_pkey" PRIMARY KEY (id);


--
-- Name: HotelPhoto HotelPhoto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HotelPhoto"
    ADD CONSTRAINT "HotelPhoto_pkey" PRIMARY KEY (id);


--
-- Name: Hotel Hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Hotel"
    ADD CONSTRAINT "Hotel_pkey" PRIMARY KEY (id);


--
-- Name: PriceDiscount PriceDiscount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PriceDiscount"
    ADD CONSTRAINT "PriceDiscount_pkey" PRIMARY KEY (id);


--
-- Name: PriceTier PriceTier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PriceTier"
    ADD CONSTRAINT "PriceTier_pkey" PRIMARY KEY (id);


--
-- Name: RoleApplication RoleApplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoleApplication"
    ADD CONSTRAINT "RoleApplication_pkey" PRIMARY KEY (id);


--
-- Name: ScheduleDay ScheduleDay_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleDay"
    ADD CONSTRAINT "ScheduleDay_pkey" PRIMARY KEY (id);


--
-- Name: ScheduleEventBrandLink ScheduleEventBrandLink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventBrandLink"
    ADD CONSTRAINT "ScheduleEventBrandLink_pkey" PRIMARY KEY (id);


--
-- Name: ScheduleEventFeeTier ScheduleEventFeeTier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventFeeTier"
    ADD CONSTRAINT "ScheduleEventFeeTier_pkey" PRIMARY KEY (id);


--
-- Name: ScheduleEventTalentLink ScheduleEventTalentLink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventTalentLink"
    ADD CONSTRAINT "ScheduleEventTalentLink_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VenuePhoto VenuePhoto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VenuePhoto"
    ADD CONSTRAINT "VenuePhoto_pkey" PRIMARY KEY (id);


--
-- Name: Venue Venue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Venue"
    ADD CONSTRAINT "Venue_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Brand_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Brand_name_key" ON public."Brand" USING btree (name);


--
-- Name: ConventionDealerLink_conventionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ConventionDealerLink_conventionId_idx" ON public."ConventionDealerLink" USING btree ("conventionId");


--
-- Name: ConventionDealerLink_conventionId_profileType_linkedProfile_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ConventionDealerLink_conventionId_profileType_linkedProfile_key" ON public."ConventionDealerLink" USING btree ("conventionId", "profileType", "linkedProfileId");


--
-- Name: ConventionSeries_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ConventionSeries_slug_key" ON public."ConventionSeries" USING btree (slug);


--
-- Name: ConventionSetting_conventionId_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ConventionSetting_conventionId_key_key" ON public."ConventionSetting" USING btree ("conventionId", key);


--
-- Name: Convention_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Convention_slug_key" ON public."Convention" USING btree (slug);


--
-- Name: PriceDiscount_conventionId_priceTierId_cutoffDate_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PriceDiscount_conventionId_priceTierId_cutoffDate_key" ON public."PriceDiscount" USING btree ("conventionId", "priceTierId", "cutoffDate");


--
-- Name: RoleApplication_userId_requestedRole_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleApplication_userId_requestedRole_key" ON public."RoleApplication" USING btree ("userId", "requestedRole");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_resetToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_resetToken_key" ON public."User" USING btree ("resetToken");


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BrandUser BrandUser_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BrandUser"
    ADD CONSTRAINT "BrandUser_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public."Brand"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BrandUser BrandUser_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BrandUser"
    ADD CONSTRAINT "BrandUser_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Brand Brand_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConventionDealerLink ConventionDealerLink_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionDealerLink"
    ADD CONSTRAINT "ConventionDealerLink_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConventionMedia ConventionMedia_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionMedia"
    ADD CONSTRAINT "ConventionMedia_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConventionScheduleItem ConventionScheduleItem_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionScheduleItem"
    ADD CONSTRAINT "ConventionScheduleItem_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConventionScheduleItem ConventionScheduleItem_scheduleDayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionScheduleItem"
    ADD CONSTRAINT "ConventionScheduleItem_scheduleDayId_fkey" FOREIGN KEY ("scheduleDayId") REFERENCES public."ScheduleDay"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ConventionScheduleItem ConventionScheduleItem_venueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionScheduleItem"
    ADD CONSTRAINT "ConventionScheduleItem_venueId_fkey" FOREIGN KEY ("venueId") REFERENCES public."Venue"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ConventionSeries ConventionSeries_organizerUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionSeries"
    ADD CONSTRAINT "ConventionSeries_organizerUserId_fkey" FOREIGN KEY ("organizerUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConventionSetting ConventionSetting_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConventionSetting"
    ADD CONSTRAINT "ConventionSetting_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Convention Convention_seriesId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Convention"
    ADD CONSTRAINT "Convention_seriesId_fkey" FOREIGN KEY ("seriesId") REFERENCES public."ConventionSeries"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: HotelPhoto HotelPhoto_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HotelPhoto"
    ADD CONSTRAINT "HotelPhoto_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Hotel Hotel_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Hotel"
    ADD CONSTRAINT "Hotel_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PriceDiscount PriceDiscount_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PriceDiscount"
    ADD CONSTRAINT "PriceDiscount_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PriceDiscount PriceDiscount_priceTierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PriceDiscount"
    ADD CONSTRAINT "PriceDiscount_priceTierId_fkey" FOREIGN KEY ("priceTierId") REFERENCES public."PriceTier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PriceTier PriceTier_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PriceTier"
    ADD CONSTRAINT "PriceTier_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoleApplication RoleApplication_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoleApplication"
    ADD CONSTRAINT "RoleApplication_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ScheduleDay ScheduleDay_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleDay"
    ADD CONSTRAINT "ScheduleDay_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ScheduleEventBrandLink ScheduleEventBrandLink_scheduleItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventBrandLink"
    ADD CONSTRAINT "ScheduleEventBrandLink_scheduleItemId_fkey" FOREIGN KEY ("scheduleItemId") REFERENCES public."ConventionScheduleItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ScheduleEventFeeTier ScheduleEventFeeTier_scheduleItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventFeeTier"
    ADD CONSTRAINT "ScheduleEventFeeTier_scheduleItemId_fkey" FOREIGN KEY ("scheduleItemId") REFERENCES public."ConventionScheduleItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ScheduleEventTalentLink ScheduleEventTalentLink_scheduleItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleEventTalentLink"
    ADD CONSTRAINT "ScheduleEventTalentLink_scheduleItemId_fkey" FOREIGN KEY ("scheduleItemId") REFERENCES public."ConventionScheduleItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: VenuePhoto VenuePhoto_venueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VenuePhoto"
    ADD CONSTRAINT "VenuePhoto_venueId_fkey" FOREIGN KEY ("venueId") REFERENCES public."Venue"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Venue Venue_conventionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Venue"
    ADD CONSTRAINT "Venue_conventionId_fkey" FOREIGN KEY ("conventionId") REFERENCES public."Convention"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

